<!DOCTYPE html>
<html>
<head>
    <title>MAGAZAWA SKILLS AND TECHNOLOGY - Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="card">
        <h2>MAGAZAWA SKILLS AND TECHNOLOGY</h2>
        <h3>Portal Login</h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <p style="color: #4fe0b0;">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <label>Email / Username:</label><br>
            <input type="text" name="username" required><br><br>
            <label>Password:</label><br>
            <input type="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>
        <hr>
        <p>New Student? <a href="/apply/student">Apply Here</a></p>
        <p>New Lecturer? <a href="/apply/lecturer">Apply Here</a></p>
    </div>
</body>
</html>
